@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", monospace;
  --font-sans: "Inter", sans-serif;
}

:root {
  color-scheme: dark;
}

html,
body {
  background: #000000;
  color: #f5f5f3;
  font-family: "Inter", system-ui, sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #1e1e20 #000;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #1e1e20;
  border-radius: 3px;
}
